<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">  Task Name </label>
    <input type="text" name="text" id="text" placeholder="Add Task" [(ngModel)]="text">
  </div>

  <div class="form-control">
    <label for="day"> Day & Time </label>
    <input type="text" name="day" id="day" placeholder="Day & Time"  [(ngModel)]="day">
  </div>

  <div class="form-control">
    <label for="reminder"> Set Reminder </label>
    <input type="checkbox" id="reminder" name="reminder"  [(ngModel)]="reminder">
  </div>
  <div>
    <input type="submit" value="SUBMIT" class="btn btn-block">
  </div>
</form>
<br>

