<form>
  <div class="form-control">
    <label for="task"> Day & Time </label>
    <input type="text" name="task" placeholder="Add Task">
  </div>

  <div class="form-control">
    <label for="day"> Day & Time </label>
    <input type="text" name="day" placeholder="Day & Time">
  </div>

  <div class="form-control">
    <label for="reminder"> Set Reminder </label>
    <input type="checkbox" name="reminder">
  </div>
  <div>
    <input type="submit" value="SUBMIT" class="btn btn-block">
  </div>
</form>
<br>
